.logo-1-icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .sign-in9 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 108px;
  }
  .sign-in-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .label8 {
    position: relative;
    font-size: var(--font-size-base);
    font-family: var(--font-poppins);
    color: var(--color-gray-100);
    white-space: pre-wrap;
    text-align: left;
  }
  .hide8,
  .icon8 {
    position: absolute;
  }
  .icon8 {
    top: 3px;
    right: 49px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .hide8 {
    top: 0;
    right: 0;
    font-size: var(--font-size-lg);
    font-family: var(--font-poppins);
    color: var(--color-dimgray-100);
    text-align: right;
  }
  .password-hide-see8 {
    height: 27px;
    width: 73px;
    position: relative;
    display: none;
  }
  .label-parent1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-10xs);
  }
  .text-field12 {
    border: 1px solid var(--color-dimgray-200);
    outline: 0;
    background-color: transparent;
    align-self: stretch;
    height: 56px;
    position: relative;
    border-radius: var(--br-xs);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    min-width: 250px;
  }
  .error-message8 {
    width: 101px;
    position: relative;
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
    color: var(--color-crimson);
    text-align: left;
    display: none;
  }
  .email4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .icon9,
  .label9 {
    position: relative;
  }
  .label9 {
    font-size: var(--font-size-base);
    font-family: var(--font-poppins);
    color: var(--color-gray-100);
    text-align: left;
    display: inline-block;
    min-width: 119px;
  }
  .icon9 {
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
  }
  .hide9 {
    position: relative;
    font-size: var(--font-size-lg);
    font-family: var(--font-poppins);
    color: var(--color-dimgray-100);
    text-align: right;
    display: inline-block;
    min-width: 41px;
  }
  .label-parent2,
  .password-hide-see9 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .label-parent2 {
    align-self: stretch;
    justify-content: space-between;
    padding: 0 var(--padding-4xs) 0 0;
    gap: var(--gap-xl);
  }
  .text-field14 {
    border: 1px solid var(--color-dimgray-200);
    outline: 0;
    background-color: transparent;
    align-self: stretch;
    height: 56px;
    position: relative;
    border-radius: var(--br-xs);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    min-width: 250px;
  }
  .error-message9 {
    width: 101px;
    position: relative;
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
    color: var(--color-crimson);
    text-align: left;
    display: none;
  }
  .text-field13 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .icons4 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .sign-up4 {
    position: relative;
    font-size: var(--font-size-3xl);
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
    min-width: 65px;
    white-space: nowrap;
  }
  .button4,
  .icons-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .icons-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .button4 {
    align-self: stretch;
    border-radius: var(--br-21xl);
    background-color: var(--color-darkorange);
    overflow: hidden;
    justify-content: center;
    padding: var(--padding-mini) var(--padding-xl) var(--padding-base);
    mix-blend-mode: normal;
  }
  .email-parent,
  .sign-in-inner {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .email-parent {
    margin: 0;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-5xl);
  }
  .sign-in-inner {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 var(--padding-12xs);
    box-sizing: border-box;
  }
  .forgot-your-password4 {
    position: relative;
    font-size: var(--font-size-base);
    text-decoration: underline;
    color: var(--color-gray-200);
    text-align: right;
  }
  .sign-in-frame,
  .sign-in8 {
    display: flex;
    max-width: 100%;
  }
  .sign-in8 {
    width: 640px;
    border-radius: var(--br-5xl);
    border: 1px solid var(--color-dimgray-300);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-19xl) var(--padding-35xl);
    gap: var(--gap-29xl);
  }
  .sign-in-frame {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-13xl);
    color: var(--color-gray-100);
    font-family: var(--font-poppins);
  }
  .cmr-pharmacy-login-page {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-41xl) var(--padding-41xl) var(--padding-109xl);
    box-sizing: border-box;
    gap: var(--gap-52xl);
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 750px) {
    .sign-in9 {
      font-size: var(--font-size-7xl);
    }
    .cmr-pharmacy-login-page {
      gap: var(--gap-16xl);
      padding-left: var(--padding-11xl);
      padding-right: var(--padding-11xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 675px) {
    .sign-in8 {
      gap: var(--gap-5xl);
      padding: var(--padding-6xl) var(--padding-8xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .sign-in9 {
      font-size: var(--font-size-lgi);
    }
    .label-parent2 {
      flex-wrap: wrap;
    }
    .sign-up4 {
      font-size: var(--font-size-lg);
    }
    .cmr-pharmacy-login-page {
      gap: var(--gap-lg);
    }
  }
  